//Main grid

//.App {
//display: grid;
// grid-template-columns: calc(100vw - 50px) 50px;
//}

// main {
//   grid-column: 1;
//   grid-row: 2;
// }

// header {
//   grid-column: 1;
//   grid-row: 1;
// }

// aside {
//   grid-column: 2;
//   grid-row: 1;
// }

body {
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
}

body > * {
  grid-column: 2;
  padding: 1rem;
}
