@use "colors";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Hello Paris Serif";
  src: url("fonts/HelloParisSerif.woff2") format("woff2"),
    url("fonts/HelloParisSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abel Regular";
  src: url("fonts/Abel-Regular.woff2") format("woff2"),
    url("fonts/Abel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$header-font-serif: "Playfair Display", serif;
$header-font-flurish: "Hello Paris Serif", cursive;
$copy-font: "Abel Regular", sans-serif;

/*This part is probably not correct but I just added it for show*/
h1 {
  font-family: $header-font-flurish;
}

h2,
h3,
h4 {
  font-family: $header-font-serif;
  color: colors.$cream;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  font-size: 1.5rem;
}

p,
span {
  font-family: $copy-font;
  color: colors.$cream;
}
