@use "colors";

aside {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  background-color: colors.$light-cream;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  //height: 2rem;
  width: 100%;
  bottom: 0rem;
}

aside > * {
  margin: 0.5rem;
}

aside ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

aside li {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

aside ul:first-child {
  padding-left: 0;
}

aside .alarm {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

aside img {
  width: 2rem;
  height: 2rem;
}
