@use "colors";
.colleagues {
  background-color: colors.$light-cream;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.colleagues h2 {
  color: colors.$red;
  text-align: center;
  margin-bottom: 1rem;
}

.colleagues p {
  color: colors.$red;
}

.colleagues h4 {
  color: colors.$red;
}

.colleagues h3 {
  color: colors.$red;
}

.colleagues span {
  color: colors.$red;
  border-color: colors.$red;
}

.colleagues input[type="checkbox"] {
  display: none;
}

.filter_section {
  display: grid;
  justify-items: center;
  grid-gap: 0.5rem;
}

.filter1 label {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.filter2 label {
  font-size: 0.8rem;
  border: 1px solid colors.$red;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0.2rem;
  padding: 0.2rem;
  width: 7rem;
  text-align: center;
}

.filter2 {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.lavender {
  background-color: colors.$lavender;
}

.olive {
  background-color: colors.$olive;
}

.sky {
  background-color: colors.$sky;
}

.mango {
  background-color: colors.$mango;
}

.white {
  background-color: colors.$white;
}

.pink {
  background-color: colors.$pink;
}

.pool {
  background-color: colors.$pool;
}

.no_color {
  background-color: rgba(0, 0, 0, 0);
}

.col {
  margin: 1rem auto 2rem auto;
  min-width: min-content;
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.col article {
  border: 1px solid colors.$red;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  //background-color: colors.$lavender;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  width: 18rem;
}

.col article img {
  border: 1px solid colors.$red;
  width: 5rem;
  height: 6rem;
  margin-right: 0.5rem;
}

.col article span {
  align-self: flex-start;
  justify-content: center;
  position: absolute;
  //left: 29.5rem;
  margin-left: 13rem;
}

.selected {
  box-shadow: 0px 0px 8px 2px colors.$red !important;
}

.selected_line {
  text-decoration: underline;
}
