@media only screen and (min-width: 600px) {
  .open_order_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .served_article {
    display: block;
    padding-left: 1rem;
  }

  .served_queue_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tap {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .tap h2 {
    flex: 0 0 100%;
  }

  .filter_container {
    display: flex;
    align-items: center;
  }

  .filter1 {
    margin-right: 0.3rem;
  }

  .filter2 {
    margin-left: 0.3rem;
  }

  .col {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 2000px) {
  .served {
    height: 71.5rem;
    padding: 3rem;
  }

  .queue_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .queue_article {
    display: block;
  }

  .open_order_container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .filter_section {
    display: none;
  }

  .tap {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    bottom: 9.9rem;
    right: 0;
    width: 50%;
  }

  .tap h2 {
    display: none;
  }

  .colleagues h2 {
    display: none;
  }

  .colleagues {
    display: flex;
    padding: 0rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9.9rem;
  }

  aside {
    display: none;
  }
}
