@use "colors";

.tap {
  background: colors.$green-gradient;
  padding: 1rem;
}

.tap h2 {
  text-align: center;
}

.tap_article {
  display: flex;
  flex-flow: wrap;
  padding: 1rem;
  justify-content: center;
}

.tap h3 {
  flex: 0 0 100%;
  margin-bottom: 0.5rem;
  margin-left: 1.6rem;
}
.tap h4 {
  flex: 0 0 100%;
  margin: 3rem;
  text-align: center;
}
.tap_visuals {
  display: flex;
  //width: 10rem;
  //height: 10rem;
}

.tap_article img {
  border: 1px solid colors.$cream;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-right: 0.8rem;
  height: 6rem;
  width: 5rem;
}

.tap_article .line_it_up p {
  border-bottom: 1px solid colors.$cream;
  width: 2.5rem;
}

.tap_amount,
.keg_amount {
  text-align: end;
}

.tap_bar {
  width: 1rem;
  height: 10rem;
  background-color: white;
  border: 1px solid colors.$cream;
  border-radius: 1rem;
  display: flex;
}

.tap_bar_status {
  width: 0.9rem;
  height: 9.9rem;
  background-color: rgb(255, 251, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(241, 255, 0, 1) 50%,
    rgba(60, 253, 45, 1) 100%
  );
  border: 1px solid colors.$cream;
  border-radius: 1rem;
  position: absolute;
  clip-path: inset(0% 0% 0% 0% round 10px);
}

.on_tap,
.off_tap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
